In [1]:
import pandas as pd
import datetime as dt
# datetime module, datetime is not not any kind of external library, vanilla Python
# datetime is part of the Python language. It ships with the language.
# Python has a standard library, which is collection of classes and methods and functions
# The import syntax for the pandas library and the datetime modules is exactly the same because Python wants to keep simple for us.
# These libraries are not imported by default because Python is trying to conserve memory.

# Review of Python's datetime Module

In [ ]:
# A module is a Python source file. It's sort of like an internal library.
# datetime module and within a datetime method that crete a datatime object

In [2]:
dt.date(2016, 4, 12)

datetime.date(2016, 4, 12)

In [3]:
dt.date(2010, 1, 12)

datetime.date(2010, 1, 12)

In [4]:
someday = dt.date(2010, 1, 20)

In [5]:
someday.year

2010

In [6]:
someday.month

1

In [7]:
someday.day

20

In [8]:
dt.datetime(2010, 1, 10)

datetime.datetime(2010, 1, 10, 0, 0)

In [9]:
dt.datetime(2010, 1, 10, 8)

datetime.datetime(2010, 1, 10, 8, 0)

In [10]:
dt.datetime(2010, 1, 10, 8, 13)

datetime.datetime(2010, 1, 10, 8, 13)

In [11]:
dt.datetime(2010, 1, 10, 8, 13, 57)

datetime.datetime(2010, 1, 10, 8, 13, 57)

In [12]:
dt.datetime(2010, 1, 10, 17, 13, 57)

datetime.datetime(2010, 1, 10, 17, 13, 57)

In [13]:
str(dt.datetime(2010, 1, 10, 17, 13, 57))

'2010-01-10 17:13:57'

In [14]:
str(someday)

'2010-01-20'

In [15]:
sometime = dt.datetime(2010, 1, 10, 17, 13, 57)

In [16]:
sometime.year

2010

In [17]:
sometime.month

1

In [18]:
sometime.day

10

In [19]:
sometime.hour

17

In [20]:
sometime.minute

13

In [21]:
sometime.second

57

# The pandas Timestamp Object

In [22]:
# .Timestamp() 
pd.Timestamp("2015-03-31")

Timestamp('2015-03-31 00:00:00')

In [23]:
pd.Timestamp("2015/03/31")

Timestamp('2015-03-31 00:00:00')

In [24]:
pd.Timestamp("2013, 11, 04")

Timestamp('2013-11-04 00:00:00')

In [25]:
pd.Timestamp("1/1/2015")

Timestamp('2015-01-01 00:00:00')

In [26]:
pd.Timestamp("19/12/2015")

/var/folders/6t/k16k_75d23v_d2yfsgzmgkcc0000gn/T/ipykernel_2210/4234144207.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  pd.Timestamp("19/12/2015")

Timestamp('2015-12-19 00:00:00')

In [27]:
pd.Timestamp("12/19/2015")

Timestamp('2015-12-19 00:00:00')

In [28]:
pd.Timestamp("4/3/2000")

Timestamp('2000-04-03 00:00:00')

In [29]:
pd.Timestamp("2021-03-08 08:35:15")

Timestamp('2021-03-08 08:35:15')

In [30]:
pd.Timestamp("2021-03-08 6:13:29 PM")

Timestamp('2021-03-08 18:13:29')

In [31]:
pd.Timestamp(dt.date(2015, 1, 1))

Timestamp('2015-01-01 00:00:00')

In [32]:
pd.Timestamp(dt.datetime(2000, 2, 3, 21, 35, 22))

Timestamp('2000-02-03 21:35:22')

# The pandas Datetime Index Objdect

In [34]:
dates = ["2016-01-02", "2016-04-12", "2009-09-07"]
pd.DatetimeIndex(dates)

DatetimeIndex(['2016-01-02', '2016-04-12', '2009-09-07'], dtype='datetime64[ns]', freq=None)

In [35]:
type(pd.DatetimeIndex(dates))

pandas.core.indexes.datetimes.DatetimeIndex

In [36]:
dates = ["2016/01/02", "2016/04/12", "2009/09/07"]
pd.DatetimeIndex(dates)

DatetimeIndex(['2016-01-02', '2016-04-12', '2009-09-07'], dtype='datetime64[ns]', freq=None)

In [37]:
dates = [dt.date(2016, 1, 10), dt.date(1994, 6, 13), dt.date(2003, 12, 29)]
pd.DatetimeIndex(dates)

DatetimeIndex(['2016-01-10', '1994-06-13', '2003-12-29'], dtype='datetime64[ns]', freq=None)

In [40]:
dates = [dt.date(2016, 1, 10), dt.date(1994, 6, 13), dt.date(2003, 12, 29)]
dtIndex = pd.DatetimeIndex(dates)

In [42]:
values = [100, 200, 300]
pd.Series(data = values, index = dtIndex)

2016-01-10    100
1994-06-13    200
2003-12-29    300
dtype: int64

# The pd.to_datetime( ) Method

In [43]:
pd.to_datetime("2001-04-09")

Timestamp('2001-04-09 00:00:00')

In [44]:
pd.to_datetime(dt.date(2015, 1, 1))

Timestamp('2015-01-01 00:00:00')

In [46]:
pd.to_datetime(dt.datetime(2015, 1, 1, 14, 35, 20))

Timestamp('2015-01-01 14:35:20')

In [47]:
pd.to_datetime(["2015-01-03", "2014/02/03", "2016", "July, 4th, 1996"])

DatetimeIndex(['2015-01-03', '2014-02-03', '2016-01-01', '1996-07-04'], dtype='datetime64[ns]', freq=None)

In [48]:
pd.Series(["2015-01-03", "2014/02/03", "2016", "July, 4th, 1996"])

0         2015-01-03
1         2014/02/03
2               2016
3    July, 4th, 1996
dtype: object

In [50]:
times = pd.Series(["2015-01-03", "2014/02/03", "2016", "July, 4th, 1996"])
times

0         2015-01-03
1         2014/02/03
2               2016
3    July, 4th, 1996
dtype: object

In [51]:
pd.to_datetime(times)

0   2015-01-03
1   2014-02-03
2   2016-01-01
3   1996-07-04
dtype: datetime64[ns]

In [53]:
pd.Series(["July 4th 1996", "10/04/1991", "Hello", "2015-02-31"])

0    July 4th 1996
1       10/04/1991
2            Hello
3       2015-02-31
dtype: object

In [54]:
dates = pd.Series(["July 4th 1996", "10/04/1991", "Hello", "2015-02-31"])
dates

0    July 4th 1996
1       10/04/1991
2            Hello
3       2015-02-31
dtype: object

In [57]:
# pd.to_datetime(dates): error   error='coerce' NaT like NaN
pd.to_datetime(dates, errors = "coerce")

0   1996-07-04
1   1991-10-04
2          NaT
3          NaT
dtype: datetime64[ns]

In [61]:
# Unix timestamp
pd.to_datetime([1694043589, 1694043589, 1693999682, 1694043589, 1349720105], unit = "s")

DatetimeIndex(['2023-09-06 23:39:49', '2023-09-06 23:39:49',
               '2023-09-06 11:28:02', '2023-09-06 23:39:49',
               '2012-10-08 18:15:05'],
              dtype='datetime64[ns]', freq=None)

# Create Range of Dates with the pd.date_range( ) Method, Part 1

In [64]:
pd.date_range(start = "2016-01-01", end = "2016-01-10", freq = "D")  #freq='D' frequenct days

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06', '2016-01-07', '2016-01-08',
               '2016-01-09', '2016-01-10'],
              dtype='datetime64[ns]', freq='D')

In [65]:
time = pd.date_range(start = "2016-01-01", end = "2016-01-10", freq = "D")

In [66]:
type(time)

pandas.core.indexes.datetimes.DatetimeIndex

In [68]:
type(time[0])

pandas._libs.tslibs.timestamps.Timestamp

In [69]:
pd.date_range(start = "2016-01-01", end = "2016-01-10", freq = "1D")

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06', '2016-01-07', '2016-01-08',
               '2016-01-09', '2016-01-10'],
              dtype='datetime64[ns]', freq='D')

In [70]:
pd.date_range(start = "2016-01-01", end = "2016-01-10", freq = "2D")

DatetimeIndex(['2016-01-01', '2016-01-03', '2016-01-05', '2016-01-07',
               '2016-01-09'],
              dtype='datetime64[ns]', freq='2D')

In [71]:
pd.date_range(start = "2016-01-01", end = "2016-01-10", freq = "B") # business days

DatetimeIndex(['2016-01-01', '2016-01-04', '2016-01-05', '2016-01-06',
               '2016-01-07', '2016-01-08'],
              dtype='datetime64[ns]', freq='B')

In [72]:
pd.date_range(start = "2016-01-01", end = "2016-01-15", freq = "W") # week  W-SUN Sunday

DatetimeIndex(['2016-01-03', '2016-01-10'], dtype='datetime64[ns]', freq='W-SUN')

In [73]:
pd.date_range(start = "2016-01-01", end = "2016-01-15", freq = "W-FRI")

DatetimeIndex(['2016-01-01', '2016-01-08', '2016-01-15'], dtype='datetime64[ns]', freq='W-FRI')

In [74]:
pd.date_range(start = "2016-01-01", end = "2016-01-10", freq = "H") # hours

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 01:00:00',
               '2016-01-01 02:00:00', '2016-01-01 03:00:00',
               '2016-01-01 04:00:00', '2016-01-01 05:00:00',
               '2016-01-01 06:00:00', '2016-01-01 07:00:00',
               '2016-01-01 08:00:00', '2016-01-01 09:00:00',
               ...
               '2016-01-09 15:00:00', '2016-01-09 16:00:00',
               '2016-01-09 17:00:00', '2016-01-09 18:00:00',
               '2016-01-09 19:00:00', '2016-01-09 20:00:00',
               '2016-01-09 21:00:00', '2016-01-09 22:00:00',
               '2016-01-09 23:00:00', '2016-01-10 00:00:00'],
              dtype='datetime64[ns]', length=217, freq='H')

In [75]:
pd.date_range(start = "2016-01-01", end = "2016-01-10", freq = "6H")

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 06:00:00',
               '2016-01-01 12:00:00', '2016-01-01 18:00:00',
               '2016-01-02 00:00:00', '2016-01-02 06:00:00',
               '2016-01-02 12:00:00', '2016-01-02 18:00:00',
               '2016-01-03 00:00:00', '2016-01-03 06:00:00',
               '2016-01-03 12:00:00', '2016-01-03 18:00:00',
               '2016-01-04 00:00:00', '2016-01-04 06:00:00',
               '2016-01-04 12:00:00', '2016-01-04 18:00:00',
               '2016-01-05 00:00:00', '2016-01-05 06:00:00',
               '2016-01-05 12:00:00', '2016-01-05 18:00:00',
               '2016-01-06 00:00:00', '2016-01-06 06:00:00',
               '2016-01-06 12:00:00', '2016-01-06 18:00:00',
               '2016-01-07 00:00:00', '2016-01-07 06:00:00',
               '2016-01-07 12:00:00', '2016-01-07 18:00:00',
               '2016-01-08 00:00:00', '2016-01-08 06:00:00',
               '2016-01-08 12:00:00', '2016-01-08 18:00:00',
               '2016-01-09 00:00:00', '2016-01-09 06:00:00',
               '2016-01-09 12:00:00', '2016-01-09 18:00:00',
               '2016-01-10 00:00:00'],
              dtype='datetime64[ns]', freq='6H')

In [76]:
pd.date_range(start = "2016-01-01", end = "2016-01-10", freq = "M") # Month END

DatetimeIndex([], dtype='datetime64[ns]', freq='M')

In [77]:
pd.date_range(start = "2016-01-01", end = "2016-12-31", freq = "M")

DatetimeIndex(['2016-01-31', '2016-02-29', '2016-03-31', '2016-04-30',
               '2016-05-31', '2016-06-30', '2016-07-31', '2016-08-31',
               '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-31'],
              dtype='datetime64[ns]', freq='M')

In [81]:
pd.date_range(start = "2016-01-01", end = "2017-01-01", freq = "MS") # Month START

DatetimeIndex(['2016-01-01', '2016-02-01', '2016-03-01', '2016-04-01',
               '2016-05-01', '2016-06-01', '2016-07-01', '2016-08-01',
               '2016-09-01', '2016-10-01', '2016-11-01', '2016-12-01',
               '2017-01-01'],
              dtype='datetime64[ns]', freq='MS')

In [82]:
pd.date_range(start = "2016-01-01", end = "2030-01-01", freq = "A") # Year END

DatetimeIndex(['2016-12-31', '2017-12-31', '2018-12-31', '2019-12-31',
               '2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
               '2024-12-31', '2025-12-31', '2026-12-31', '2027-12-31',
               '2028-12-31', '2029-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

# Create Range of Dates with the pd.date_range( ) Method, Part 2

In [83]:
pd.date_range(start = "2012-09-09", periods = 25, freq = "D")

DatetimeIndex(['2012-09-09', '2012-09-10', '2012-09-11', '2012-09-12',
               '2012-09-13', '2012-09-14', '2012-09-15', '2012-09-16',
               '2012-09-17', '2012-09-18', '2012-09-19', '2012-09-20',
               '2012-09-21', '2012-09-22', '2012-09-23', '2012-09-24',
               '2012-09-25', '2012-09-26', '2012-09-27', '2012-09-28',
               '2012-09-29', '2012-09-30', '2012-10-01', '2012-10-02',
               '2012-10-03'],
              dtype='datetime64[ns]', freq='D')

In [84]:
len(pd.date_range(start = "2012-09-09", periods = 25, freq = "D"))

25

In [85]:
pd.date_range(start = "2012-09-09", periods = 50, freq = "D")

DatetimeIndex(['2012-09-09', '2012-09-10', '2012-09-11', '2012-09-12',
               '2012-09-13', '2012-09-14', '2012-09-15', '2012-09-16',
               '2012-09-17', '2012-09-18', '2012-09-19', '2012-09-20',
               '2012-09-21', '2012-09-22', '2012-09-23', '2012-09-24',
               '2012-09-25', '2012-09-26', '2012-09-27', '2012-09-28',
               '2012-09-29', '2012-09-30', '2012-10-01', '2012-10-02',
               '2012-10-03', '2012-10-04', '2012-10-05', '2012-10-06',
               '2012-10-07', '2012-10-08', '2012-10-09', '2012-10-10',
               '2012-10-11', '2012-10-12', '2012-10-13', '2012-10-14',
               '2012-10-15', '2012-10-16', '2012-10-17', '2012-10-18',
               '2012-10-19', '2012-10-20', '2012-10-21', '2012-10-22',
               '2012-10-23', '2012-10-24', '2012-10-25', '2012-10-26',
               '2012-10-27', '2012-10-28'],
              dtype='datetime64[ns]', freq='D')

In [86]:
pd.date_range(start = "2012-09-09", periods = 50, freq = "B")  # business days

DatetimeIndex(['2012-09-10', '2012-09-11', '2012-09-12', '2012-09-13',
               '2012-09-14', '2012-09-17', '2012-09-18', '2012-09-19',
               '2012-09-20', '2012-09-21', '2012-09-24', '2012-09-25',
               '2012-09-26', '2012-09-27', '2012-09-28', '2012-10-01',
               '2012-10-02', '2012-10-03', '2012-10-04', '2012-10-05',
               '2012-10-08', '2012-10-09', '2012-10-10', '2012-10-11',
               '2012-10-12', '2012-10-15', '2012-10-16', '2012-10-17',
               '2012-10-18', '2012-10-19', '2012-10-22', '2012-10-23',
               '2012-10-24', '2012-10-25', '2012-10-26', '2012-10-29',
               '2012-10-30', '2012-10-31', '2012-11-01', '2012-11-02',
               '2012-11-05', '2012-11-06', '2012-11-07', '2012-11-08',
               '2012-11-09', '2012-11-12', '2012-11-13', '2012-11-14',
               '2012-11-15', '2012-11-16'],
              dtype='datetime64[ns]', freq='B')

In [87]:
pd.date_range(start = "2012-09-09", periods = 50, freq = "W")

DatetimeIndex(['2012-09-09', '2012-09-16', '2012-09-23', '2012-09-30',
               '2012-10-07', '2012-10-14', '2012-10-21', '2012-10-28',
               '2012-11-04', '2012-11-11', '2012-11-18', '2012-11-25',
               '2012-12-02', '2012-12-09', '2012-12-16', '2012-12-23',
               '2012-12-30', '2013-01-06', '2013-01-13', '2013-01-20',
               '2013-01-27', '2013-02-03', '2013-02-10', '2013-02-17',
               '2013-02-24', '2013-03-03', '2013-03-10', '2013-03-17',
               '2013-03-24', '2013-03-31', '2013-04-07', '2013-04-14',
               '2013-04-21', '2013-04-28', '2013-05-05', '2013-05-12',
               '2013-05-19', '2013-05-26', '2013-06-02', '2013-06-09',
               '2013-06-16', '2013-06-23', '2013-06-30', '2013-07-07',
               '2013-07-14', '2013-07-21', '2013-07-28', '2013-08-04',
               '2013-08-11', '2013-08-18'],
              dtype='datetime64[ns]', freq='W-SUN')

In [88]:
pd.date_range(start = "2012-09-09", periods = 50, freq = "W-TUE")

DatetimeIndex(['2012-09-11', '2012-09-18', '2012-09-25', '2012-10-02',
               '2012-10-09', '2012-10-16', '2012-10-23', '2012-10-30',
               '2012-11-06', '2012-11-13', '2012-11-20', '2012-11-27',
               '2012-12-04', '2012-12-11', '2012-12-18', '2012-12-25',
               '2013-01-01', '2013-01-08', '2013-01-15', '2013-01-22',
               '2013-01-29', '2013-02-05', '2013-02-12', '2013-02-19',
               '2013-02-26', '2013-03-05', '2013-03-12', '2013-03-19',
               '2013-03-26', '2013-04-02', '2013-04-09', '2013-04-16',
               '2013-04-23', '2013-04-30', '2013-05-07', '2013-05-14',
               '2013-05-21', '2013-05-28', '2013-06-04', '2013-06-11',
               '2013-06-18', '2013-06-25', '2013-07-02', '2013-07-09',
               '2013-07-16', '2013-07-23', '2013-07-30', '2013-08-06',
               '2013-08-13', '2013-08-20'],
              dtype='datetime64[ns]', freq='W-TUE')

In [89]:
pd.date_range(start = "2012-09-09", periods = 50, freq = "MS")

DatetimeIndex(['2012-10-01', '2012-11-01', '2012-12-01', '2013-01-01',
               '2013-02-01', '2013-03-01', '2013-04-01', '2013-05-01',
               '2013-06-01', '2013-07-01', '2013-08-01', '2013-09-01',
               '2013-10-01', '2013-11-01', '2013-12-01', '2014-01-01',
               '2014-02-01', '2014-03-01', '2014-04-01', '2014-05-01',
               '2014-06-01', '2014-07-01', '2014-08-01', '2014-09-01',
               '2014-10-01', '2014-11-01', '2014-12-01', '2015-01-01',
               '2015-02-01', '2015-03-01', '2015-04-01', '2015-05-01',
               '2015-06-01', '2015-07-01', '2015-08-01', '2015-09-01',
               '2015-10-01', '2015-11-01', '2015-12-01', '2016-01-01',
               '2016-02-01', '2016-03-01', '2016-04-01', '2016-05-01',
               '2016-06-01', '2016-07-01', '2016-08-01', '2016-09-01',
               '2016-10-01', '2016-11-01'],
              dtype='datetime64[ns]', freq='MS')

In [90]:
pd.date_range(start = "2012-09-09", periods = 50, freq = "A")

DatetimeIndex(['2012-12-31', '2013-12-31', '2014-12-31', '2015-12-31',
               '2016-12-31', '2017-12-31', '2018-12-31', '2019-12-31',
               '2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
               '2024-12-31', '2025-12-31', '2026-12-31', '2027-12-31',
               '2028-12-31', '2029-12-31', '2030-12-31', '2031-12-31',
               '2032-12-31', '2033-12-31', '2034-12-31', '2035-12-31',
               '2036-12-31', '2037-12-31', '2038-12-31', '2039-12-31',
               '2040-12-31', '2041-12-31', '2042-12-31', '2043-12-31',
               '2044-12-31', '2045-12-31', '2046-12-31', '2047-12-31',
               '2048-12-31', '2049-12-31', '2050-12-31', '2051-12-31',
               '2052-12-31', '2053-12-31', '2054-12-31', '2055-12-31',
               '2056-12-31', '2057-12-31', '2058-12-31', '2059-12-31',
               '2060-12-31', '2061-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [105]:
pd.date_range(start = "2012-09-09", periods = 30, freq = "H")

DatetimeIndex(['2012-09-09 00:00:00', '2012-09-09 01:00:00',
               '2012-09-09 02:00:00', '2012-09-09 03:00:00',
               '2012-09-09 04:00:00', '2012-09-09 05:00:00',
               '2012-09-09 06:00:00', '2012-09-09 07:00:00',
               '2012-09-09 08:00:00', '2012-09-09 09:00:00',
               '2012-09-09 10:00:00', '2012-09-09 11:00:00',
               '2012-09-09 12:00:00', '2012-09-09 13:00:00',
               '2012-09-09 14:00:00', '2012-09-09 15:00:00',
               '2012-09-09 16:00:00', '2012-09-09 17:00:00',
               '2012-09-09 18:00:00', '2012-09-09 19:00:00',
               '2012-09-09 20:00:00', '2012-09-09 21:00:00',
               '2012-09-09 22:00:00', '2012-09-09 23:00:00',
               '2012-09-10 00:00:00', '2012-09-10 01:00:00',
               '2012-09-10 02:00:00', '2012-09-10 03:00:00',
               '2012-09-10 04:00:00', '2012-09-10 05:00:00'],
              dtype='datetime64[ns]', freq='H')

In [104]:
pd.date_range(start = "2012-09-09", periods = 30, freq = "6H")

DatetimeIndex(['2012-09-09 00:00:00', '2012-09-09 06:00:00',
               '2012-09-09 12:00:00', '2012-09-09 18:00:00',
               '2012-09-10 00:00:00', '2012-09-10 06:00:00',
               '2012-09-10 12:00:00', '2012-09-10 18:00:00',
               '2012-09-11 00:00:00', '2012-09-11 06:00:00',
               '2012-09-11 12:00:00', '2012-09-11 18:00:00',
               '2012-09-12 00:00:00', '2012-09-12 06:00:00',
               '2012-09-12 12:00:00', '2012-09-12 18:00:00',
               '2012-09-13 00:00:00', '2012-09-13 06:00:00',
               '2012-09-13 12:00:00', '2012-09-13 18:00:00',
               '2012-09-14 00:00:00', '2012-09-14 06:00:00',
               '2012-09-14 12:00:00', '2012-09-14 18:00:00',
               '2012-09-15 00:00:00', '2012-09-15 06:00:00',
               '2012-09-15 12:00:00', '2012-09-15 18:00:00',
               '2012-09-16 00:00:00', '2012-09-16 06:00:00'],
              dtype='datetime64[ns]', freq='6H')

# Create Range of Dates with the pd.date_range( ) Method, Part 3

In [93]:
pd.date_range(end = "1999-12-31", periods = 20, freq = "D")

DatetimeIndex(['1999-12-12', '1999-12-13', '1999-12-14', '1999-12-15',
               '1999-12-16', '1999-12-17', '1999-12-18', '1999-12-19',
               '1999-12-20', '1999-12-21', '1999-12-22', '1999-12-23',
               '1999-12-24', '1999-12-25', '1999-12-26', '1999-12-27',
               '1999-12-28', '1999-12-29', '1999-12-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='D')

In [94]:
pd.date_range(end = "1999-12-31", periods = 40, freq = "D")

DatetimeIndex(['1999-11-22', '1999-11-23', '1999-11-24', '1999-11-25',
               '1999-11-26', '1999-11-27', '1999-11-28', '1999-11-29',
               '1999-11-30', '1999-12-01', '1999-12-02', '1999-12-03',
               '1999-12-04', '1999-12-05', '1999-12-06', '1999-12-07',
               '1999-12-08', '1999-12-09', '1999-12-10', '1999-12-11',
               '1999-12-12', '1999-12-13', '1999-12-14', '1999-12-15',
               '1999-12-16', '1999-12-17', '1999-12-18', '1999-12-19',
               '1999-12-20', '1999-12-21', '1999-12-22', '1999-12-23',
               '1999-12-24', '1999-12-25', '1999-12-26', '1999-12-27',
               '1999-12-28', '1999-12-29', '1999-12-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='D')

In [95]:
pd.date_range(end = "1999-12-31", periods = 40, freq = "B")

DatetimeIndex(['1999-11-08', '1999-11-09', '1999-11-10', '1999-11-11',
               '1999-11-12', '1999-11-15', '1999-11-16', '1999-11-17',
               '1999-11-18', '1999-11-19', '1999-11-22', '1999-11-23',
               '1999-11-24', '1999-11-25', '1999-11-26', '1999-11-29',
               '1999-11-30', '1999-12-01', '1999-12-02', '1999-12-03',
               '1999-12-06', '1999-12-07', '1999-12-08', '1999-12-09',
               '1999-12-10', '1999-12-13', '1999-12-14', '1999-12-15',
               '1999-12-16', '1999-12-17', '1999-12-20', '1999-12-21',
               '1999-12-22', '1999-12-23', '1999-12-24', '1999-12-27',
               '1999-12-28', '1999-12-29', '1999-12-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='B')

In [102]:
pd.date_range(end = "1999-12-31", periods = 20, freq = "W-SUN")

DatetimeIndex(['1999-08-15', '1999-08-22', '1999-08-29', '1999-09-05',
               '1999-09-12', '1999-09-19', '1999-09-26', '1999-10-03',
               '1999-10-10', '1999-10-17', '1999-10-24', '1999-10-31',
               '1999-11-07', '1999-11-14', '1999-11-21', '1999-11-28',
               '1999-12-05', '1999-12-12', '1999-12-19', '1999-12-26'],
              dtype='datetime64[ns]', freq='W-SUN')

In [101]:
pd.date_range(end = "1999-12-31", periods = 20, freq = "W-FRI")

DatetimeIndex(['1999-08-20', '1999-08-27', '1999-09-03', '1999-09-10',
               '1999-09-17', '1999-09-24', '1999-10-01', '1999-10-08',
               '1999-10-15', '1999-10-22', '1999-10-29', '1999-11-05',
               '1999-11-12', '1999-11-19', '1999-11-26', '1999-12-03',
               '1999-12-10', '1999-12-17', '1999-12-24', '1999-12-31'],
              dtype='datetime64[ns]', freq='W-FRI')

In [99]:
pd.date_range(end = "1999-12-31", periods = 20, freq = "M")

DatetimeIndex(['1998-05-31', '1998-06-30', '1998-07-31', '1998-08-31',
               '1998-09-30', '1998-10-31', '1998-11-30', '1998-12-31',
               '1999-01-31', '1999-02-28', '1999-03-31', '1999-04-30',
               '1999-05-31', '1999-06-30', '1999-07-31', '1999-08-31',
               '1999-09-30', '1999-10-31', '1999-11-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='M')

In [100]:
pd.date_range(end = "1999-12-31", periods = 20, freq = "MS")

DatetimeIndex(['1998-05-01', '1998-06-01', '1998-07-01', '1998-08-01',
               '1998-09-01', '1998-10-01', '1998-11-01', '1998-12-01',
               '1999-01-01', '1999-02-01', '1999-03-01', '1999-04-01',
               '1999-05-01', '1999-06-01', '1999-07-01', '1999-08-01',
               '1999-09-01', '1999-10-01', '1999-11-01', '1999-12-01'],
              dtype='datetime64[ns]', freq='MS')

In [106]:
pd.date_range(end = "1999-12-31", periods = 20, freq = "7H")

DatetimeIndex(['1999-12-25 11:00:00', '1999-12-25 18:00:00',
               '1999-12-26 01:00:00', '1999-12-26 08:00:00',
               '1999-12-26 15:00:00', '1999-12-26 22:00:00',
               '1999-12-27 05:00:00', '1999-12-27 12:00:00',
               '1999-12-27 19:00:00', '1999-12-28 02:00:00',
               '1999-12-28 09:00:00', '1999-12-28 16:00:00',
               '1999-12-28 23:00:00', '1999-12-29 06:00:00',
               '1999-12-29 13:00:00', '1999-12-29 20:00:00',
               '1999-12-30 03:00:00', '1999-12-30 10:00:00',
               '1999-12-30 17:00:00', '1999-12-31 00:00:00'],
              dtype='datetime64[ns]', freq='7H')

# The .dt Accessor

In [108]:
bunch_of_dates = pd.date_range(start = "2000-01-01", end = "2010-12-31", freq = "24D")

In [116]:
s = pd.Series(bunch_of_dates)
s.head(3)

0   2000-01-01
1   2000-01-25
2   2000-02-18
dtype: datetime64[ns]

In [110]:
s.dt.day

0       1
1      25
2      18
3      13
4       6
       ..
163    17
164    11
165     4
166    28
167    22
Length: 168, dtype: int64

In [111]:
s.dt.month

0       1
1       1
2       2
3       3
4       4
       ..
163     9
164    10
165    11
166    11
167    12
Length: 168, dtype: int64

In [118]:
# s.dt.weekday_name
s.dt.is_quarter_start

0       True
1      False
2      False
3      False
4      False
       ...
163    False
164    False
165    False
166    False
167    False
Length: 168, dtype: bool

In [119]:
mask = s.dt.is_quarter_start
s[mask]

0     2000-01-01
19    2001-04-01
38    2002-07-01
137   2009-01-01
dtype: datetime64[ns]

In [120]:
mask = s.dt.is_month_start
s[mask]

0     2000-01-01
19    2001-04-01
38    2002-07-01
104   2006-11-01
109   2007-03-01
137   2009-01-01
142   2009-05-01
dtype: datetime64[ns]

In [122]:
mask = s.dt.is_month_end
s[mask]

5     2000-04-30
57    2003-09-30
71    2004-08-31
90    2005-11-30
123   2008-01-31
161   2010-07-31
dtype: datetime64[ns]

# Import Financial Dataset with pandas_datareader Library

In [2]:
!pip install yfinance
import yfinance as yf
yf.pdr_override()
from pandas_datareader import data as wb
# from pandas_datareader import data
# Reach into the pandas-datareader library and pull out one top level attribute called data. 
# This is to simplify the process of using the keyword data in our program.

Requirement already satisfied: yfinance in /Users/norikokono/anaconda3/lib/python3.11/site-packages (0.2.28)
Requirement already satisfied: pandas>=1.3.0 in /Users/norikokono/anaconda3/lib/python3.11/site-packages (from yfinance) (1.5.3)
Requirement already satisfied: numpy>=1.16.5 in /Users/norikokono/anaconda3/lib/python3.11/site-packages (from yfinance) (1.24.3)
Requirement already satisfied: requests>=2.31 in /Users/norikokono/anaconda3/lib/python3.11/site-packages (from yfinance) (2.31.0)
Requirement already satisfied: multitasking>=0.0.7 in /Users/norikokono/anaconda3/lib/python3.11/site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in /Users/norikokono/anaconda3/lib/python3.11/site-packages (from yfinance) (4.9.2)
Requirement already satisfied: appdirs>=1.4.4 in /Users/norikokono/anaconda3/lib/python3.11/site-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in /Users/norikokono/anaconda3/lib/python3.11/site-packages (from yfinance) (2022.7)
Requirement already satisfied: frozendict>=2.3.4 in /Users/norikokono/anaconda3/lib/python3.11/site-packages (from yfinance) (2.3.8)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /Users/norikokono/anaconda3/lib/python3.11/site-packages (from yfinance) (4.12.2)
Requirement already satisfied: html5lib>=1.1 in /Users/norikokono/anaconda3/lib/python3.11/site-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in /Users/norikokono/anaconda3/lib/python3.11/site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4)
Requirement already satisfied: six>=1.9 in /Users/norikokono/anaconda3/lib/python3.11/site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in /Users/norikokono/anaconda3/lib/python3.11/site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/norikokono/anaconda3/lib/python3.11/site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/norikokono/anaconda3/lib/python3.11/site-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/norikokono/anaconda3/lib/python3.11/site-packages (from requests>=2.31->yfinance) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/norikokono/anaconda3/lib/python3.11/site-packages (from requests>=2.31->yfinance) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /Users/norikokono/anaconda3/lib/python3.11/site-packages (from requests>=2.31->yfinance) (2023.7.22)

In [94]:
# DataReader: Class (Method)
# data.DataReader(name = "MSFT", data_source = "yahoo", start = "2010-01-01", end = "2020-12-31")
stocks = wb.DataReader('MSFT', '2010-01-01', '2020-12-31')
stocks.head()

[*********************100%%**********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close    Volume
Date
2010-01-04  30.620001  31.100000  30.590000  30.950001  23.522564  38409100
2010-01-05  30.850000  31.100000  30.639999  30.959999  23.530165  49749600
2010-01-06  30.879999  31.080000  30.520000  30.770000  23.385763  58182400
2010-01-07  30.629999  30.700001  30.190001  30.450001  23.142565  50559700
2010-01-08  30.280001  30.879999  30.240000  30.660000  23.302162  51197400

In [35]:
stocks.values

array([[3.06200008e+01, 3.11000004e+01, 3.05900002e+01, 3.09500008e+01,
        2.35225716e+01, 3.84091000e+07],
       [3.08500004e+01, 3.11000004e+01, 3.06399994e+01, 3.09599991e+01,
        2.35301647e+01, 4.97496000e+07],
       [3.08799992e+01, 3.10799999e+01, 3.05200005e+01, 3.07700005e+01,
        2.33857613e+01, 5.81824000e+07],
       ...,
       [2.24449997e+02, 2.26029999e+02, 2.23020004e+02, 2.24960007e+02,
        2.19521164e+02, 1.79335000e+07],
       [2.26309998e+02, 2.27179993e+02, 2.23580002e+02, 2.24149994e+02,
        2.18730713e+02, 1.74032000e+07],
       [2.25229996e+02, 2.25630005e+02, 2.21470001e+02, 2.21679993e+02,
        2.16320419e+02, 2.02723000e+07]])

In [36]:
stocks.columns

Index(['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [37]:
stocks.index

DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
               '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
               '2010-01-14', '2010-01-15',
               ...
               '2020-12-16', '2020-12-17', '2020-12-18', '2020-12-21',
               '2020-12-22', '2020-12-23', '2020-12-24', '2020-12-28',
               '2020-12-29', '2020-12-30'],
              dtype='datetime64[ns]', name='Date', length=2768, freq=None)

# Selecting Rows from a DataFrame with a DatetimeIndex

In [38]:
stocks.loc["2010-01-04"]

Open         3.062000e+01
High         3.110000e+01
Low          3.059000e+01
Close        3.095000e+01
Adj Close    2.352257e+01
Volume       3.840910e+07
Name: 2010-01-04 00:00:00, dtype: float64

In [40]:
# Generally good idea to wrap the data inside a pandas Timestamp object
stocks.loc[pd.Timestamp("2010-01-04")]

Open         3.062000e+01
High         3.110000e+01
Low          3.059000e+01
Close        3.095000e+01
Adj Close    2.352257e+01
Volume       3.840910e+07
Name: 2010-01-04 00:00:00, dtype: float64

In [41]:
stocks.iloc[0]

Open         3.062000e+01
High         3.110000e+01
Low          3.059000e+01
Close        3.095000e+01
Adj Close    2.352257e+01
Volume       3.840910e+07
Name: 2010-01-04 00:00:00, dtype: float64

In [42]:
stocks.iloc[500]

Open         2.596000e+01
High         2.614000e+01
Low          2.593000e+01
Close        2.604000e+01
Adj Close    2.073980e+01
Volume       2.128720e+07
Name: 2011-12-27 00:00:00, dtype: float64

In [43]:
stocks.iloc[-1]

Open         2.252300e+02
High         2.256300e+02
Low          2.214700e+02
Close        2.216800e+02
Adj Close    2.163204e+02
Volume       2.027230e+07
Name: 2020-12-30 00:00:00, dtype: float64

In [44]:
stocks.iloc[-3]

Open         2.244500e+02
High         2.260300e+02
Low          2.230200e+02
Close        2.249600e+02
Adj Close    2.195212e+02
Volume       1.793350e+07
Name: 2020-12-28 00:00:00, dtype: float64

In [47]:
stocks.loc[[pd.Timestamp("2010-01-04"), pd.Timestamp("2010-01-05")]]

                 Open  High        Low      Close  Adj Close    Volume
Date
2010-01-04  30.620001  31.1  30.590000  30.950001  23.522572  38409100
2010-01-05  30.850000  31.1  30.639999  30.959999  23.530165  49749600

In [48]:
stocks.iloc[[10, 15, 30]]

                 Open   High        Low  Close  Adj Close    Volume
Date
2010-01-19  30.750000  31.24  30.680000  31.10  23.636566  46575700
2010-01-26  29.200001  29.85  29.090000  29.50  22.420538  66639900
2010-02-17  28.530001  28.65  28.360001  28.59  21.830530  45882900

In [49]:
stocks.loc["2013-10-01":"2013-10-07"]

                 Open       High        Low      Close  Adj Close    Volume
Date
2013-10-01  33.349998  33.610001  33.299999  33.580002  28.120384  36718700
2013-10-02  33.360001  34.029999  33.290001  33.919998  28.405106  46946800
2013-10-03  33.880001  34.000000  33.419998  33.860001  28.354856  38703800
2013-10-04  33.689999  33.990002  33.619999  33.880001  28.371611  33008100
2013-10-07  33.599998  33.709999  33.200001  33.299999  27.885904  35069300

In [50]:
stocks.truncate(before = "2013-10-01", after = "2013-10-07")

                 Open       High        Low      Close  Adj Close    Volume
Date
2013-10-01  33.349998  33.610001  33.299999  33.580002  28.120384  36718700
2013-10-02  33.360001  34.029999  33.290001  33.919998  28.405106  46946800
2013-10-03  33.880001  34.000000  33.419998  33.860001  28.354856  38703800
2013-10-04  33.689999  33.990002  33.619999  33.880001  28.371611  33008100
2013-10-07  33.599998  33.709999  33.200001  33.299999  27.885904  35069300

In [51]:
stocks.iloc[1000:1005]

                 Open       High        Low      Close  Adj Close    Volume
Date
2013-12-23  36.810001  36.889999  36.549999  36.619999  30.898697  25128700
2013-12-24  36.720001  37.169998  36.639999  37.080002  31.286829  14243000
2013-12-26  37.200001  37.490002  37.169998  37.439999  31.590591  17612800
2013-12-27  37.580002  37.619999  37.169998  37.290001  31.464020  14563000
2013-12-30  37.220001  37.380001  36.900002  37.290001  31.464020  16290500

In [53]:
pd.date_range(start = "1991-04-12", end = "2020-12-31", freq = pd.DateOffset(years = 1))

DatetimeIndex(['1991-04-12', '1992-04-12', '1993-04-12', '1994-04-12',
               '1995-04-12', '1996-04-12', '1997-04-12', '1998-04-12',
               '1999-04-12', '2000-04-12', '2001-04-12', '2002-04-12',
               '2003-04-12', '2004-04-12', '2005-04-12', '2006-04-12',
               '2007-04-12', '2008-04-12', '2009-04-12', '2010-04-12',
               '2011-04-12', '2012-04-12', '2013-04-12', '2014-04-12',
               '2015-04-12', '2016-04-12', '2017-04-12', '2018-04-12',
               '2019-04-12', '2020-04-12'],
              dtype='datetime64[ns]', freq='<DateOffset: years=1>')

In [54]:
birthdays = pd.date_range(start = "1991-04-12", end = "2020-12-31", freq = pd.DateOffset(years = 1))

In [55]:
stocks.index

DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
               '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
               '2010-01-14', '2010-01-15',
               ...
               '2020-12-16', '2020-12-17', '2020-12-18', '2020-12-21',
               '2020-12-22', '2020-12-23', '2020-12-24', '2020-12-28',
               '2020-12-29', '2020-12-30'],
              dtype='datetime64[ns]', name='Date', length=2768, freq=None)

In [56]:
stocks.index.isin(birthdays)

array([False, False, False, ..., False, False, False])

In [57]:
birthday_stocks = stocks.index.isin(birthdays)

In [58]:
stocks[birthday_stocks]

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-04-12,30.250000,30.490000,30.209999,30.320000,23.151518,37068800
2011-04-12,25.830000,25.850000,25.549999,25.639999,20.010309,36920400
2012-04-12,30.480000,31.040001,30.420000,30.980000,24.836750,38304000
2013-04-12,28.850000,29.020000,28.660000,28.790001,23.773769,62886300
2016-04-12,54.369999,54.779999,53.759998,54.650002,49.013569,24944300
2017-04-12,65.419998,65.510002,65.110001,65.230003,60.041000,17108500
2018-04-12,92.430000,94.160004,92.430000,93.580002,87.939606,26758900
2019-04-12,120.639999,120.980003,120.370003,120.949997,115.578377,19745100

In [59]:
stocks.loc[birthday_stocks]

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-04-12,30.250000,30.490000,30.209999,30.320000,23.151518,37068800
2011-04-12,25.830000,25.850000,25.549999,25.639999,20.010309,36920400
2012-04-12,30.480000,31.040001,30.420000,30.980000,24.836750,38304000
2013-04-12,28.850000,29.020000,28.660000,28.790001,23.773769,62886300
2016-04-12,54.369999,54.779999,53.759998,54.650002,49.013569,24944300
2017-04-12,65.419998,65.510002,65.110001,65.230003,60.041000,17108500
2018-04-12,92.430000,94.160004,92.430000,93.580002,87.939606,26758900
2019-04-12,120.639999,120.980003,120.370003,120.949997,115.578377,19745100

# Timestamp Object Attributes and Methods

In [60]:
stocks.head()

                 Open       High        Low      Close  Adj Close    Volume
Date
2010-01-04  30.620001  31.100000  30.590000  30.950001  23.522572  38409100
2010-01-05  30.850000  31.100000  30.639999  30.959999  23.530165  49749600
2010-01-06  30.879999  31.080000  30.520000  30.770000  23.385761  58182400
2010-01-07  30.629999  30.700001  30.190001  30.450001  23.142551  50559700
2010-01-08  30.280001  30.879999  30.240000  30.660000  23.302158  51197400

In [61]:
stocks.index

DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
               '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
               '2010-01-14', '2010-01-15',
               ...
               '2020-12-16', '2020-12-17', '2020-12-18', '2020-12-21',
               '2020-12-22', '2020-12-23', '2020-12-24', '2020-12-28',
               '2020-12-29', '2020-12-30'],
              dtype='datetime64[ns]', name='Date', length=2768, freq=None)

In [62]:
stocks.index[500]

Timestamp('2011-12-27 00:00:00')

In [63]:
someday = stocks.index[500]
someday

Timestamp('2011-12-27 00:00:00')

In [64]:
someday.month

12

In [65]:
someday.week

52

In [67]:
someday.is_month_start

False

In [68]:
someday.is_month_end

False

In [70]:
someday.is_quarter_start

False

In [71]:
someday.is_quarter_end

False

In [72]:
someday.day

27

In [73]:
someday.month_name()

'December'

In [74]:
someday.day_name()

'Tuesday'

In [75]:
stocks.index

DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
               '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
               '2010-01-14', '2010-01-15',
               ...
               '2020-12-16', '2020-12-17', '2020-12-18', '2020-12-21',
               '2020-12-22', '2020-12-23', '2020-12-24', '2020-12-28',
               '2020-12-29', '2020-12-30'],
              dtype='datetime64[ns]', name='Date', length=2768, freq=None)

In [76]:
stocks.index.day_name()

Index(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Monday',
       'Tuesday', 'Wednesday', 'Thursday', 'Friday',
       ...
       'Wednesday', 'Thursday', 'Friday', 'Monday', 'Tuesday', 'Wednesday',
       'Thursday', 'Monday', 'Tuesday', 'Wednesday'],
      dtype='object', name='Date', length=2768)

In [95]:
stocks.insert(0, "Day of Week", stocks.index.day_name())

In [83]:
stocks

,Day of Week,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,,
2010-01-04,Monday,30.620001,31.100000,30.590000,30.950001,23.522564,38409100
2010-01-05,Tuesday,30.850000,31.100000,30.639999,30.959999,23.530165,49749600
2010-01-06,Wednesday,30.879999,31.080000,30.520000,30.770000,23.385761,58182400
2010-01-07,Thursday,30.629999,30.700001,30.190001,30.450001,23.142559,50559700
2010-01-08,Friday,30.280001,30.879999,30.240000,30.660000,23.302166,51197400
...,...,...,...,...,...,...,...
2020-12-23,Wednesday,223.110001,223.559998,220.800003,221.020004,215.676392,18699600
2020-12-24,Thursday,221.419998,223.610001,221.199997,222.750000,217.364563,10550600
2020-12-28,Monday,224.449997,226.029999,223.020004,224.960007,219.521149,17933500
2020-12-29,Tuesday,226.309998,227.179993,223.580002,224.149994,218.730713,17403200
2020-12-30,Wednesday,225.229996,225.630005,221.470001,221.679993,216.320404,20272300

In [85]:
stocks.index.is_month_start

array([False, False, False, ..., False, False, False])

In [96]:
stocks.insert(1, "Is Start of Month", stocks.index.is_month_start)

In [97]:
stocks

,Day of Week,Is Start of Month,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,,,
2010-01-04,Monday,False,30.620001,31.100000,30.590000,30.950001,23.522564,38409100
2010-01-05,Tuesday,False,30.850000,31.100000,30.639999,30.959999,23.530165,49749600
2010-01-06,Wednesday,False,30.879999,31.080000,30.520000,30.770000,23.385763,58182400
2010-01-07,Thursday,False,30.629999,30.700001,30.190001,30.450001,23.142565,50559700
2010-01-08,Friday,False,30.280001,30.879999,30.240000,30.660000,23.302162,51197400
...,...,...,...,...,...,...,...,...
2020-12-23,Wednesday,False,223.110001,223.559998,220.800003,221.020004,215.676376,18699600
2020-12-24,Thursday,False,221.419998,223.610001,221.199997,222.750000,217.364563,10550600
2020-12-28,Monday,False,224.449997,226.029999,223.020004,224.960007,219.521133,17933500
2020-12-29,Tuesday,False,226.309998,227.179993,223.580002,224.149994,218.730713,17403200
2020-12-30,Wednesday,False,225.229996,225.630005,221.470001,221.679993,216.320404,20272300

In [98]:
stocks["Is Start of Month"]

Date
2010-01-04    False
2010-01-05    False
2010-01-06    False
2010-01-07    False
2010-01-08    False
              ...
2020-12-23    False
2020-12-24    False
2020-12-28    False
2020-12-29    False
2020-12-30    False
Name: Is Start of Month, Length: 2768, dtype: bool

In [99]:
stocks[stocks["Is Start of Month"]]

,Day of Week,Is Start of Month,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,,,
2010-02-01,Monday,True,28.389999,28.480000,27.920000,28.410000,21.592119,85931100
2010-03-01,Monday,True,28.770000,29.049999,28.530001,29.020000,22.158867,43805400
2010-04-01,Thursday,True,29.350000,29.540001,28.620001,29.160000,22.265768,74768100
2010-06-01,Tuesday,True,25.530001,26.309999,25.520000,25.889999,19.858093,76152400
2010-07-01,Thursday,True,23.090000,23.320000,22.730000,23.160000,17.764124,92239400
...,...,...,...,...,...,...,...,...
2020-06-01,Monday,True,182.539993,183.000000,181.460007,182.830002,177.514725,22622400
2020-07-01,Wednesday,True,203.139999,206.350006,201.770004,204.699997,198.748932,32061200
2020-09-01,Tuesday,True,225.509995,227.449997,224.429993,227.270004,221.196182,25725500
2020-10-01,Thursday,True,213.490005,213.990005,211.320007,212.460007,206.781982,27158400
2020-12-01,Tuesday,True,214.509995,217.320007,213.350006,216.210007,210.982697,30904500

# The pd.DateOffset Object

In [4]:
stocks = wb.DataReader('MSFT', '2010-01-01', '2020-12-31')
stocks.head()

[*********************100%%**********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close    Volume
Date
2010-01-04  30.620001  31.100000  30.590000  30.950001  23.522568  38409100
2010-01-05  30.850000  31.100000  30.639999  30.959999  23.530159  49749600
2010-01-06  30.879999  31.080000  30.520000  30.770000  23.385759  58182400
2010-01-07  30.629999  30.700001  30.190001  30.450001  23.142559  50559700
2010-01-08  30.280001  30.879999  30.240000  30.660000  23.302162  51197400

In [5]:
stocks["High"] + 5

Date
2010-01-04     36.100000
2010-01-05     36.100000
2010-01-06     36.080000
2010-01-07     35.700001
2010-01-08     35.879999
                 ...
2020-12-23    228.559998
2020-12-24    228.610001
2020-12-28    231.029999
2020-12-29    232.179993
2020-12-30    230.630005
Name: High, Length: 2768, dtype: float64

In [6]:
# DataOffset Constructor Function that creates an object
stocks.index + pd.DateOffset(days = 5)  # added 5 days

DatetimeIndex(['2010-01-09', '2010-01-10', '2010-01-11', '2010-01-12',
               '2010-01-13', '2010-01-16', '2010-01-17', '2010-01-18',
               '2010-01-19', '2010-01-20',
               ...
               '2020-12-21', '2020-12-22', '2020-12-23', '2020-12-26',
               '2020-12-27', '2020-12-28', '2020-12-29', '2021-01-02',
               '2021-01-03', '2021-01-04'],
              dtype='datetime64[ns]', name='Date', length=2768, freq=None)

In [ ]:
stocks.index - pd.DateOffset(days = 5)  # substracted 5 days

In [ ]:
# stock.index = stocks.index - pd.DateOffset(days = 5)

In [8]:
stocks.index + pd.DateOffset(weeks = 2)

DatetimeIndex(['2010-01-18', '2010-01-19', '2010-01-20', '2010-01-21',
               '2010-01-22', '2010-01-25', '2010-01-26', '2010-01-27',
               '2010-01-28', '2010-01-29',
               ...
               '2020-12-30', '2020-12-31', '2021-01-01', '2021-01-04',
               '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-11',
               '2021-01-12', '2021-01-13'],
              dtype='datetime64[ns]', name='Date', length=2768, freq=None)

In [ ]:
stocks.index - pd.DateOffset(weeks = 3)

In [9]:
stocks.index + pd.DateOffset(months = 5)

DatetimeIndex(['2010-06-04', '2010-06-05', '2010-06-06', '2010-06-07',
               '2010-06-08', '2010-06-11', '2010-06-12', '2010-06-13',
               '2010-06-14', '2010-06-15',
               ...
               '2021-05-16', '2021-05-17', '2021-05-18', '2021-05-21',
               '2021-05-22', '2021-05-23', '2021-05-24', '2021-05-28',
               '2021-05-29', '2021-05-30'],
              dtype='datetime64[ns]', name='Date', length=2768, freq=None)

In [10]:
stocks.index - pd.DateOffset(months = 5)

DatetimeIndex(['2009-08-04', '2009-08-05', '2009-08-06', '2009-08-07',
               '2009-08-08', '2009-08-11', '2009-08-12', '2009-08-13',
               '2009-08-14', '2009-08-15',
               ...
               '2020-07-16', '2020-07-17', '2020-07-18', '2020-07-21',
               '2020-07-22', '2020-07-23', '2020-07-24', '2020-07-28',
               '2020-07-29', '2020-07-30'],
              dtype='datetime64[ns]', name='Date', length=2768, freq=None)

In [11]:
stocks.index + pd.DateOffset(years = 1)

DatetimeIndex(['2011-01-04', '2011-01-05', '2011-01-06', '2011-01-07',
               '2011-01-08', '2011-01-11', '2011-01-12', '2011-01-13',
               '2011-01-14', '2011-01-15',
               ...
               '2021-12-16', '2021-12-17', '2021-12-18', '2021-12-21',
               '2021-12-22', '2021-12-23', '2021-12-24', '2021-12-28',
               '2021-12-29', '2021-12-30'],
              dtype='datetime64[ns]', name='Date', length=2768, freq=None)

In [12]:
stocks.index - pd.DateOffset(years = 8)

DatetimeIndex(['2002-01-04', '2002-01-05', '2002-01-06', '2002-01-07',
               '2002-01-08', '2002-01-11', '2002-01-12', '2002-01-13',
               '2002-01-14', '2002-01-15',
               ...
               '2012-12-16', '2012-12-17', '2012-12-18', '2012-12-21',
               '2012-12-22', '2012-12-23', '2012-12-24', '2012-12-28',
               '2012-12-29', '2012-12-30'],
              dtype='datetime64[ns]', name='Date', length=2768, freq=None)

In [14]:
stocks.index + pd.DateOffset(years = 1, months = 3, days = 10, hours = 6, minutes = 2)

DatetimeIndex(['2011-04-14 06:02:00', '2011-04-15 06:02:00',
               '2011-04-16 06:02:00', '2011-04-17 06:02:00',
               '2011-04-18 06:02:00', '2011-04-21 06:02:00',
               '2011-04-22 06:02:00', '2011-04-23 06:02:00',
               '2011-04-24 06:02:00', '2011-04-25 06:02:00',
               ...
               '2022-03-26 06:02:00', '2022-03-27 06:02:00',
               '2022-03-28 06:02:00', '2022-03-31 06:02:00',
               '2022-04-01 06:02:00', '2022-04-02 06:02:00',
               '2022-04-03 06:02:00', '2022-04-07 06:02:00',
               '2022-04-08 06:02:00', '2022-04-09 06:02:00'],
              dtype='datetime64[ns]', name='Date', length=2768, freq=None)

In [17]:
stocks.index - pd.DateOffset(years = 3, months = 4, days = 25, hours = 13, minutes = 24, seconds = 26)

DatetimeIndex(['2006-08-09 10:35:34', '2006-08-10 10:35:34',
               '2006-08-11 10:35:34', '2006-08-12 10:35:34',
               '2006-08-13 10:35:34', '2006-08-16 10:35:34',
               '2006-08-17 10:35:34', '2006-08-18 10:35:34',
               '2006-08-19 10:35:34', '2006-08-20 10:35:34',
               ...
               '2017-07-21 10:35:34', '2017-07-22 10:35:34',
               '2017-07-23 10:35:34', '2017-07-26 10:35:34',
               '2017-07-27 10:35:34', '2017-07-28 10:35:34',
               '2017-07-29 10:35:34', '2017-08-02 10:35:34',
               '2017-08-03 10:35:34', '2017-08-04 10:35:34'],
              dtype='datetime64[ns]', name='Date', length=2768, freq=None)

# Timeseries Offsets

In [22]:
stocks = wb.DataReader('MSFT', '2010-01-01', '2020-12-31')
stocks.head()

[*********************100%%**********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close    Volume
Date
2010-01-04  30.620001  31.100000  30.590000  30.950001  23.522562  38409100
2010-01-05  30.850000  31.100000  30.639999  30.959999  23.530169  49749600
2010-01-06  30.879999  31.080000  30.520000  30.770000  23.385763  58182400
2010-01-07  30.629999  30.700001  30.190001  30.450001  23.142559  50559700
2010-01-08  30.280001  30.879999  30.240000  30.660000  23.302158  51197400

In [23]:
stocks.index

DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
               '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
               '2010-01-14', '2010-01-15',
               ...
               '2020-12-16', '2020-12-17', '2020-12-18', '2020-12-21',
               '2020-12-22', '2020-12-23', '2020-12-24', '2020-12-28',
               '2020-12-29', '2020-12-30'],
              dtype='datetime64[ns]', name='Date', length=2768, freq=None)

In [24]:
# These offset objects are nested really deeply inside of pandas. Pandas: collection of folders and directories
# tseries: Time Series, MonthEnd(): PascalCase Class
stocks.index + pd.tseries.offsets.MonthEnd()

DatetimeIndex(['2010-01-31', '2010-01-31', '2010-01-31', '2010-01-31',
               '2010-01-31', '2010-01-31', '2010-01-31', '2010-01-31',
               '2010-01-31', '2010-01-31',
               ...
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31'],
              dtype='datetime64[ns]', name='Date', length=2768, freq=None)

In [26]:
stocks.tail(3)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-12-28,224.449997,226.029999,223.020004,224.960007,219.521133,17933500
2020-12-29,226.309998,227.179993,223.580002,224.149994,218.730682,17403200
2020-12-30,225.229996,225.630005,221.470001,221.679993,216.320404,20272300

In [27]:
stocks.index - pd.tseries.offsets.MonthEnd()

DatetimeIndex(['2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31',
               ...
               '2020-11-30', '2020-11-30', '2020-11-30', '2020-11-30',
               '2020-11-30', '2020-11-30', '2020-11-30', '2020-11-30',
               '2020-11-30', '2020-11-30'],
              dtype='datetime64[ns]', name='Date', length=2768, freq=None)

In [28]:
stocks.index + pd.tseries.offsets.MonthBegin()

DatetimeIndex(['2010-02-01', '2010-02-01', '2010-02-01', '2010-02-01',
               '2010-02-01', '2010-02-01', '2010-02-01', '2010-02-01',
               '2010-02-01', '2010-02-01',
               ...
               '2021-01-01', '2021-01-01', '2021-01-01', '2021-01-01',
               '2021-01-01', '2021-01-01', '2021-01-01', '2021-01-01',
               '2021-01-01', '2021-01-01'],
              dtype='datetime64[ns]', name='Date', length=2768, freq=None)

In [29]:
stocks.index - pd.tseries.offsets.MonthBegin()

DatetimeIndex(['2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01',
               ...
               '2020-12-01', '2020-12-01', '2020-12-01', '2020-12-01',
               '2020-12-01', '2020-12-01', '2020-12-01', '2020-12-01',
               '2020-12-01', '2020-12-01'],
              dtype='datetime64[ns]', name='Date', length=2768, freq=None)

In [31]:
# Simpler way
from pandas.tseries import offsets

In [32]:
stocks.index + offsets.MonthEnd()

DatetimeIndex(['2010-01-31', '2010-01-31', '2010-01-31', '2010-01-31',
               '2010-01-31', '2010-01-31', '2010-01-31', '2010-01-31',
               '2010-01-31', '2010-01-31',
               ...
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31'],
              dtype='datetime64[ns]', name='Date', length=2768, freq=None)

In [33]:
stocks.index + offsets.BMonthEnd() # Business day Month End

DatetimeIndex(['2010-01-29', '2010-01-29', '2010-01-29', '2010-01-29',
               '2010-01-29', '2010-01-29', '2010-01-29', '2010-01-29',
               '2010-01-29', '2010-01-29',
               ...
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31'],
              dtype='datetime64[ns]', name='Date', length=2768, freq=None)

In [34]:
stocks.index - pd.tseries.offsets.BMonthEnd()

DatetimeIndex(['2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31',
               ...
               '2020-11-30', '2020-11-30', '2020-11-30', '2020-11-30',
               '2020-11-30', '2020-11-30', '2020-11-30', '2020-11-30',
               '2020-11-30', '2020-11-30'],
              dtype='datetime64[ns]', name='Date', length=2768, freq=None)

In [35]:
stocks.index + pd.tseries.offsets.YearEnd()

DatetimeIndex(['2010-12-31', '2010-12-31', '2010-12-31', '2010-12-31',
               '2010-12-31', '2010-12-31', '2010-12-31', '2010-12-31',
               '2010-12-31', '2010-12-31',
               ...
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31'],
              dtype='datetime64[ns]', name='Date', length=2768, freq=None)

In [36]:
stocks.index - pd.tseries.offsets.YearEnd()

DatetimeIndex(['2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31',
               ...
               '2019-12-31', '2019-12-31', '2019-12-31', '2019-12-31',
               '2019-12-31', '2019-12-31', '2019-12-31', '2019-12-31',
               '2019-12-31', '2019-12-31'],
              dtype='datetime64[ns]', name='Date', length=2768, freq=None)

In [37]:
stocks.index + pd.tseries.offsets.YearBegin()

DatetimeIndex(['2011-01-01', '2011-01-01', '2011-01-01', '2011-01-01',
               '2011-01-01', '2011-01-01', '2011-01-01', '2011-01-01',
               '2011-01-01', '2011-01-01',
               ...
               '2021-01-01', '2021-01-01', '2021-01-01', '2021-01-01',
               '2021-01-01', '2021-01-01', '2021-01-01', '2021-01-01',
               '2021-01-01', '2021-01-01'],
              dtype='datetime64[ns]', name='Date', length=2768, freq=None)

In [38]:
stocks.index - pd.tseries.offsets.YearBegin()

DatetimeIndex(['2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01',
               ...
               '2020-01-01', '2020-01-01', '2020-01-01', '2020-01-01',
               '2020-01-01', '2020-01-01', '2020-01-01', '2020-01-01',
               '2020-01-01', '2020-01-01'],
              dtype='datetime64[ns]', name='Date', length=2768, freq=None)

# The Timedelta Object

* Timedelta represents a time span, or a duration, or a passage time. It's simply a measurement of time.
* Delta in mathematics means the difference between two things.

In [39]:
time_a = pd.Timestamp("2020-03-31")
time_b = pd.Timestamp("2020-03-20")

time_a - time_b

Timedelta('11 days 00:00:00')

In [40]:
time_a = pd.Timestamp("2020-03-31 04:35:16PM")
time_b = pd.Timestamp("2020-03-20 02:15:49AM")

time_a - time_b

Timedelta('11 days 14:19:27')

In [41]:
time_b - time_a

Timedelta('-12 days +09:40:33')

In [42]:
pd.Timedelta(days = 3)

Timedelta('3 days 00:00:00')

In [43]:
time_a + pd.Timedelta(days = 3)

Timestamp('2020-04-03 16:35:16')

In [44]:
pd.Timedelta(days = 3, minutes = 45)

Timedelta('3 days 00:45:00')

In [45]:
pd.Timedelta(days = 3, minutes = 45, seconds = 20)

Timedelta('3 days 00:45:20')

In [46]:
pd.Timedelta(weeks = 8, days = 3, hours = 12, minutes = 45, seconds = 28)

Timedelta('59 days 12:45:28')

In [47]:
pd.Timedelta("5 minutes")

Timedelta('0 days 00:05:00')

In [48]:
pd.Timedelta("6 hours 12 minutes")

Timedelta('0 days 06:12:00')

In [49]:
pd.Timedelta("14 days 6 hours 12 minutes 49 seconds")

Timedelta('14 days 06:12:49')

# Timedeltas in a Dataset

In [60]:
shipping = pd.read_csv("ecommerce.csv", index_col = "ID", parse_dates = ["order_date", "delivery_date"])
shipping.head(3)

   order_date delivery_date
ID
1  1998-05-24    1999-02-05
2  1992-04-22    1998-03-06
4  1991-02-10    1992-08-26

In [61]:
shipping["Delivery Time"] = shipping["delivery_date"] - shipping["order_date"]

In [62]:
shipping["Delivery Time"] = shipping["delivery_date"] - shipping["order_date"]
shipping.head(3)

   order_date delivery_date Delivery Time
ID
1  1998-05-24    1999-02-05      257 days
2  1992-04-22    1998-03-06     2144 days
4  1991-02-10    1992-08-26      563 days

In [64]:
shipping["delivery_date"] + shipping["Delivery Time"]

ID
1     1999-10-20
2     2004-01-18
4     1994-03-12
5     2003-03-22
7     2003-03-18
         ...
990   2000-09-12
991   2004-10-18
993   2005-10-06
994   1993-06-23
997   1993-07-01
Length: 501, dtype: datetime64[ns]

In [65]:
shipping["delivery_date"] - shipping["Delivery Time"]

ID
1     1998-05-24
2     1992-04-22
4     1991-02-10
5     1992-07-21
7     1993-09-02
         ...
990   1991-06-24
991   1991-09-09
993   1990-11-16
994   1993-06-03
997   1990-01-04
Length: 501, dtype: datetime64[ns]

In [66]:
shipping["Twice As Long"] = shipping["delivery_date"] + shipping["Delivery Time"]

In [67]:
shipping.head(3)

   order_date delivery_date Delivery Time Twice As Long
ID
1  1998-05-24    1999-02-05      257 days    1999-10-20
2  1992-04-22    1998-03-06     2144 days    2004-01-18
4  1991-02-10    1992-08-26      563 days    1994-03-12

In [68]:
shipping.dtypes

order_date        datetime64[ns]
delivery_date     datetime64[ns]
Delivery Time    timedelta64[ns]
Twice As Long     datetime64[ns]
dtype: object

In [69]:
shipping["Delivery Time"] > "365 days"

ID
1      False
2       True
4       True
5       True
7       True
       ...
990     True
991     True
993     True
994    False
997     True
Name: Delivery Time, Length: 501, dtype: bool

In [70]:
mask = shipping["Delivery Time"] > "365 days"

In [71]:
shipping[mask]

    order_date delivery_date Delivery Time Twice As Long
ID
2   1992-04-22    1998-03-06     2144 days    2004-01-18
4   1991-02-10    1992-08-26      563 days    1994-03-12
5   1992-07-21    1997-11-20     1948 days    2003-03-22
7   1993-09-02    1998-06-10     1742 days    2003-03-18
9   1990-01-25    1994-10-02     1711 days    1999-06-09
..         ...           ...           ...           ...
986 1990-12-10    1992-12-16      737 days    1994-12-23
990 1991-06-24    1996-02-02     1684 days    2000-09-12
991 1991-09-09    1998-03-30     2394 days    2004-10-18
993 1990-11-16    1998-04-27     2719 days    2005-10-06
997 1990-01-04    1991-10-03      637 days    1993-07-01

[394 rows x 4 columns]

In [72]:
mask = shipping["Delivery Time"] > "3423 days"

In [73]:
shipping[mask]

    order_date delivery_date Delivery Time Twice As Long
ID
314 1990-03-07    1999-12-25     3580 days    2009-10-13
884 1990-01-20    1999-11-12     3583 days    2009-09-03
904 1990-02-13    1999-11-15     3562 days    2009-08-16

In [74]:
mask = shipping["Delivery Time"] == "3423 days"

In [75]:
shipping[mask]

    order_date delivery_date Delivery Time Twice As Long
ID
130 1990-04-02    1999-08-16     3423 days    2008-12-29

In [77]:
shipping["Delivery Time"].max()

Timedelta('3583 days 00:00:00')

In [78]:
shipping["Delivery Time"].min()

Timedelta('8 days 00:00:00')